<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocky.mall.mapper.UserMapper">

    <select id="getLoginUser" parameterType="String" resultType="com.rocky.mall.bean.User">
        select t.*  from t_user t where t.name like "${uname}%"
    </select>

</mapper>